.navbar-default {
    background-color: #851003;
    border: 0;
    min-height: 42px;
    border-radius: 0;
    color: #fff;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #345273;
    border-color: #fff;
}

.nav.navbar-nav {font-size: 15px;}
 #searchForm {margin-right: 100px;}

 .navbar-default .navbar-nav li > a.active{
    color: #FFF;
    background-color: #ac3123;
    z-index: 10;
 }
 
  /*Media Query started  */
 @media (max-width: 1200px) 
  {
      #searchForm {
          display:none;
        }
  }
