<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="center-block center-tab">
                <div class="panel panel-default panel-wrap">
                    <div class="panel-body custom-panel-body" style="border-top: 2px solid #ec1d25;">
                        <div class="not_found center">
                            <h3> 404 - Page Not Found </h3>
                            <h2> Missing Page </h2>
                            <a [routerLink]="['/events']"  class="btn bg-primary back-home"> Back To Home </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>